## JOINs

Exercises on SQL JOINs

**Pull all the data from the accounts table, and all the data from the orders table.**

<br>

**Try pulling standard_qty, gloss_qty, and poster_qty from the orders table, and the website and the primary_poc from the accounts table.**

<br>

**Provide a table for all web_events associated with account name of Walmart. There should be three columns. Be sure to include the `primary_poc`, time of the event, and the `channel` for each event. Additionally, you might choose to add a fourth column to assure only Walmart events were chosen.**

<br>

**Provide a table that provides the region for each `sales_rep` along with their associated accounts. Your final table should include three columns: the `region name`, the `sales rep name`, and the `account name`. Sort the accounts alphabetically (A-Z) according to account name.**

<br>

**Provide the name for each region for every order, as well as the account name and the unit price they paid (`total_amt_usd`/`total`) for the `order`. Your final table should have 3 columns: region name, account name, and unit price. A few `accounts` have 0 for `total`, so I divided by (total + 0.01) to assure not dividing by zero.**

<br>

**1. Provide a table that provides the `region` for each `sales_rep` along with their associated accounts. This time only for the `Midwest` region. Your final table should include three columns: the region name, the sales rep name, and the account name. Sort the accounts alphabetically (A-Z) according to account name.**

<br>

**2. Provide a table that provides the `region` for each `sales_rep` along with their associated accounts. This time only for `accounts` where the sales rep has a first name starting with `S` and in the `Midwest` region. Your final table should include three columns: the region name, the sales rep name, and the account name. Sort the accounts alphabetically (A-Z) according to account name.**

<br>

**3. Provide a table that provides the `region` for each `sales_rep` along with their associated `accounts`. This time only for accounts where the sales rep has a last name starting with K and in the `Midwest` region. Your final table should include three columns: the region name, the sales rep name, and the account name. Sort the accounts alphabetically (A-Z) according to account name.**

<br>

**4. Provide the name for each `region` for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. However, you should only provide the results if the standard order quantity exceeds `100`. Your final table should have 3 columns: region name, account name, and unit price. In order to avoid a division by zero error, adding .01 to the denominator here is helpful total_amt_usd/(total+0.01).**

<br>

**5. Provide the `name` for each `region` for every order, as well as the account name and the unit price they paid (`total_amt_usd`/`total`) for the order. However, you should only provide the results if the `standard order quantity` exceeds 100 and the `poster order quantity` exceeds 50. Your final table should have 3 columns: `region name`, `account name`, and `unit price`. Sort for the smallest unit price first. In order to avoid a division by zero error, adding .01 to the denominator here is helpful (`total_amt_usd`/(`total`+0.01).**

<br>

**6. Provide the name for each `region` for every `order`, as well as the account name and the unit price they paid (`total_amt_usd`/`total`) for the `order`. However, you should only provide the results if the standard order quantity exceeds 100 and the poster order quantity exceeds 50. Your final table should have 3 columns: `region name`, account name, and `unit price`. Sort for the largest unit price first. In order to avoid a division by zero error, adding .01 to the denominator here is helpful (`total_amt_usd`/(`total`+0.01).**

<br>

**7. What are the different `channel`s used by `account id` `1001`? Your final table should have only 2 columns: `account name` and the different `channels`. You can try `SELECT` `DISTINCT` to narrow down the results to only the unique values.**

<br>

**8. Find all the orders that occurred in 2015. Your final table should have 4 columns: `occurred_at`, `account name`, `order total`, and `order total_amt_usd`.**